body{
  text-align: center;
  background-color:linear-gradient(#ffffff 100%, #VF89EF 10%)
}
p{
  font-size:20px
}
img{
  border-radius:1000px;
  width:500px;
  height:300px;
}
.menu {
    list-style: none;
    font-family: monospace;
    float: center;
    top: 10px;
    right: 30px;
    cursor:pointer;
    color:black;
    position:fixed;
}
li:hover {
    background-color:aqua
}
#title {
    font-family: 'Source Code Pro', bold;
}
a {
    font-size:50px;
}
img {
    transition:scale();
}